{{extend 'layout.html'}}

{{=A(T("Upload Assignment"), _href=URL('AssignmentPortal','default','autoAssignment'), _class='btn')}}
<br/>
<br/>

<!-- ToDo : Add TA feature -->

<div id='search-box'>
	<h4>Enter details for assignments:</h4> 
	<form method='get' action="{{=URL('AssignmentPortal','default','facultyInterface')}}">
		<input type='text' name='course' value='course-id'><br/>
		<input type='submit' value='Submit'>
	</form>
</div>
<br/>
<div id='search-result'>
	{{if facData:}}
		<div id='course-details'>
		{{prev = ''}}
		<ul>
		{{for course in facData:}}
			{{if course['Course']['name'] != prev:}}
				</ul>
				<h4>{{=course['Course']['name']}} - {{=course['Course']['code']}}</h4>
				<ul>
			{{pass}}
			<li> {{=course['Assign']['name']}} </li>
		{{pass}}
		</div>
	{{else:}}
		<h4> No assignments for this course </h4>
	{{pass}}
</div>		
