{{extend 'layout.html'}}

{{=A(T("Upload Assignment"), _href=URL('AssignmentPortal','default','autoAssignment'), _class='btn')}}
<br/>
<br/>

<!-- ToDo : Add TA feature -->

<div id='search-box'>
	<h4>Enter details for assignments:</h4> 
	<form method='get' action="{{=URL('AssignmentPortal','default','facultyInterface')}}">
		<select name='course' value='course-id'><br/>
			{{for i in faccourses:}}
			<option value={{=faccourses[i][0]}}>{{=faccourses[i][1]}}</option>
			{{pass}}
		</select>
		<br/>
		<input type='submit' value='Submit'>
	</form>
</div>
<br/>
<br/>
{{if assign:}}
	<div id='assign-details'>
		<h4>{{=assignName}}</h4>
		<ul>
		{{for problem in assignData:}}
			<li>Q.{{=problem['num']}} {{=problem['question']}}</li>
		{{pass}}
		</ul>
	</div>
{{pass}}
<br/>
<br/>
<div id='search-result'>
	{{try:}}
	{{facData}}
	{{except:}}
	{{facData=allfacData}}
	{{pass}}
	{{if facData and assign==None:}}
		<div id='course-details'>
		{{prev = ''}}
		<ul>
		{{for row in facData:}}
			{{if row['Course']['name'] != prev:}}
				</ul>
				<h4>{{=row['Course']['name']}} - {{=row['Course']['code']}}</h4>
				<ul>
			{{pass}}
			<li> <a href="{{=URL('AssignmentPortal','default','facultyInterface')}}?assign={{=row['Assign']['id']}}">{{=row['Assign']['name']}}</a> </li>
		{{pass}}
		</ul>
		</div>
	{{elif assign==None:}}
		<h4> No assignments for this course </h4>
	{{pass}}
</div>		
