{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>International Institute of Information Technology</h3>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div id='login'>
	{{if not auth.user_id:}}
		<div id='login-form' style="background-color:lightgrey; width:420px">
			<center><h3>Login</h3>
			{{=login_form}}
			<h5>Not a member yet? {{=A(T("Join Here!"), _href=URL('AssignmentPortal','default','user/register'), _class='link')}}</h5>
			</center>
			<br/>
		</div>
	{{else:}}
		{{if auth.user.usertype=='Student':}}
			{{=A(T("Student Interface"), _href=URL('AssignmentPortal','default','studentInterface'), _class='btn')}}
		{{pass}}
		{{if auth.user.usertype=='Faculty':}}
			{{=A(T("Faculty Interface"), _href=URL('AssignmentPortal','default','facultyInterface'), _class='btn')}}
		{{pass}}
		{{if auth.user.usertype=='TA':}}
			{{=A(T("TA Interface"), _href=URL('AssignmentPortal','default','TAinterface'), _class='btn')}}
		{{pass}}
		{{if auth.user.usertype=='Admin':}}
			{{=A(T("Admin Interface"), _href=URL('AssignmentPortal','default','studentInterface'), _class='btn')}}
		{{pass}}
		<br/>
		<br/>
	{{pass}}
</div>

<!--
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}

<br/><br/>
{{=A(T("Auto Assignment Addition"), _href=URL('AssignmentPortal','default','autoAssignment'), _class='btn')}}
<br/><br/>
{{=A(T("Upload Solution Tarball"), _href=URL('AssignmentPortal','default','uploadTarBall'), _class='btn')}}
<br/><br/>
{{=A(T("Image Viewer"), _href=URL('AssignmentPortal','default','solutionImageTag'), _class='btn')}}
<br/><br/>
{{=A(T("TA interface"), _href=URL('AssignmentPortal','default','TAinterface'), _class='btn')}}
<br/><br/>
{{=A(T("Student interface"), _href=URL('AssignmentPortal','default','studentInterface'), _class='btn')}}
<br/><br/>
{{=A(T("Faculty interface"), _href=URL('AssignmentPortal','default','facultyInterface'), _class='btn')}}
<br/>
-->
{{end}}
