{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>International Institute of Information Technology</h3>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div id='login'>
	{{if not auth.user_id:}}
		<div id='login-form' style="background-color:lightgrey; width:420px">
			<center><h3>Login</h3>
			{{=login_form}}
			<h5>Not a member yet? {{=A(T("Join Here!"), _href=URL('AssignmentPortal','default','user/register'), _class='link')}}</h5>
			</center>
			<br/>
		</div>
	{{else:}}
		{{if auth.user.usertype=='Student':}}
		{{redirect(URL('default','studentInterface'))}}	
		{{pass}}
		{{if auth.user.usertype=='Faculty':}}
		{{redirect(URL('default','facultyInterface'))}}	
		{{pass}}
		{{if auth.user.usertype=='TA':}}
		{{redirect(URL('default','TAinterface'))}}	
		{{pass}}
		{{if auth.user.usertype=='Admin':}}
		{{redirect(URL('default','facultyInterface'))}}	
		{{pass}}
		<br/>
		<br/>
	{{pass}}
</div>
{{end}}
