{{extend 'layout.html'}}


{{try:}}
{{=form}}
<br/>

<div id='search-result'>
	{{try:}}
	{{if img:}}
	<img src="{{=URL('download',args=img['image'])}}" width=500px/>
			<br/>
			<br/>
		{{pass}}
		{{except:}}
	{{pass}}
</div>
{{except:}}
<p>NOTE : we need to change the below fields to drop-down</p>
<br/>
<div id='search-box'>
	<h4>Enter details :</h4> 
		<form method='get' action="{{=URL('AssignmentPortal','default','solutionImageTag')}}">
		<select  name='assign' value='assign-id'>
			{{for i in courses:}}
			<option value={{=i['Assign']['id']}}>{{=i['Course']['name']}} / {{=i['Assign']['name']}}</option>
			{{pass}}
			</select><br/>
		<input type='submit' value='Submit'>
	</form>
</div>
{{pass}}
