{{extend 'layout.html'}}


{{try:}}
{{=form}}
<br/>

<div id='search-result'>
	{{try:}}
	{{if img:}}
	<img src="{{=URL('download',args=img['image'])}}" width=500px/>
			<br/>
			<br/>
		{{pass}}
		{{except:}}
	{{pass}}
</div>
{{except:}}
<p>NOTE : we need to change the below fields to drop-down</p>
<br/>
<div id='search-box'>
	<h4>Enter details :</h4> 
		<form method='get' action="{{=URL('AssignmentPortal','default','solutionImageTag')}}">
		<input type='text' name='course' value='course-id'><br/>
		<input type='text' name='assign' value='assign-id'><br/>
		<input type='submit' value='Submit'>
	</form>
</div>
{{pass}}
