<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href=""> <!--favicon-->

		<title>Assignment Portal</title>

		<!-- Bootstrap core CSS -->
		<link href="{{=URL('static','css/bootstrap1.min.css')}}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{=URL('static','css/dashboard.css')}}" rel="stylesheet">

		<style>
			div.flash {
				font-weight: bold;
				position: fixed;
				padding: 10px;
				top: 48px;
				right: 250px;
				min-width: 280px;
				opacity: 0.95;
				margin: 0px 0px 10px 10px;
				vertical-align: middle;
				cursor: pointer;
				color: #FFF;
				background-color: #000;
				border: 2px solid #FFF;
				border-radius: 8px;
				background-image: -moz-linear-gradient(90deg, #222, #000);
				background-repeat: repeat-x;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				z-index: 2000;
			}
		th.headerSortUp { 
			background-image: url({{=URL('static','images/asc.gif')}}); 
			background-repeat: no-repeat;
			background-color: #3399FF;
			background-position:right;

		} 
			th.headerSortDown { 
			background-image: url({{=URL('static','images/desc.gif')}}); 
			background-repeat: no-repeat;
				        background-color: #3399FF; 
			background-position:right;
					} 
		</style>

		{{
		response.files.insert(0,URL('static','css/web2py.css'))
		response.files.insert(1,URL('static','css/bootstrap.min.css'))
		response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
		response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
		response.files.insert(4,URL('static','css/bootstrap1.min.css'))
		response.files.insert(5,URL('static','js/jquery.js'))
		response.files.insert(6,URL('static','js/web2py.js'))
		response.include_meta()

		}}
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
		<script src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>i
		<script type="text/javascript"> 
			$.tablesorter.addParser({
				    id: "date",
			        is: function (s) {
		            return false;
	        },
    format: function (s, table) {
        var date = (s + '').match(/(\d{1,2}\s+\w{3}\s+\d{4}),(\s+\d{1,2}:\d{1,2}:\d{1,2}\s+[AP]M)/);
            return date ? new Date(date[1] + date[2]).getTime() || s : s;
        },
    type: "numeric"
    });    
			$(document).ready(function() 
			{ 
			$("#myTable").tablesorter({sortList: [[0,0]]}); 
				}); </script>
		

	</head>

	<body>
		{{if response.flash:}}
		<div class="flash">{{=response.flash or ''}}</div>
		{{pass}}
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{=URL('default','index')}}">Shiksha</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						
						<li><a href="{{=URL('default', 'user', args='logout')}}">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid"> 
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar" style="background-color:lightgrey"> 
					{{if auth.user.usertype == 'TA':}}
					<ul class="nav nav-sidebar">
						<li><a href="{{=URL('default','TAinterface')}}">TA Interface</a></li>       	      
					</ul>
					{{pass}}
					<ul class="nav nav-sidebar">
						<li class="active"><a href="{{=URL('default','student_home')}}">Student Interface</a></li>       	      
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="{{=URL('default','studupload')}}">Upload a solution</a></li>
						<li><a href="{{=URL('default','registerCourse')}}">Register for a Course</a></li>
						<li><a href="{{=URL('default','assignstatus')}}">Assignments by Deadline</a></li>
						<li><a href="{{=URL('default','user/profile')}}" next="{{=URL('default','student_home')}}">Settings</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<br/><br/><br/>
				         <input type="text" id="search" placeholder="Type to search..." /><br/><br/>
				<!--	<div id='search-result'>
					<div class="table-responsive">-->                                                                
							<table id="myTable" class="tablesorter table table-striped">
								<thead>
									<tr>
										<th>Course Name</th>
										<th>Assignment Name</th>
										<th data-sorter="shortDate" date-date-format="yyyymmdd">Deadline</th>
										<th>Problem Number</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{{for i in stud_data:}}
									<tr>
										<td>{{=i['Course']['name']}}</td>
										<td>{{=i['Assign']['name']}}</td>
										<td>{{=i['Assign']['end_time']}}<br/>
											{{import datetime,time}}
											{{current_time = datetime.datetime.now()}}
											{{diff_af_time=(time.mktime(i['Assign']['end_time'].timetuple()) - time.mktime(current_time.timetuple()))}}
											{{diff_af_time}}
											{{if diff_af_time<0:}}
											Deadline Passed
											{{pass}}
										</td>
										<td>{{=i['Problem']['num']}}</td>
										<td>
											{{x=db((db.Submission.student==auth.user.id)&(db.Submission.problem==i['Problem']['id'])).select().first()}}
											{{if not x:}}
											Not Submited<br/>
											<!-- Remove problem=%s incase error with multiple assingments (See studupload controller as well) -->
											<a href={{=URL('default','studupload?assign=%s&problem=%s' % (i['Assign']['id'] , i['Problem']['id']))}}>Sumbit Now</a>
											{{else:}}
											{{x=db((db.SubmitReview.student==auth.user.id)&(db.SubmitReview.problem==i['Problem']['id'])).select().first()}}
											{{if not x:}}
											Alloted to TA
											{{else:}}
											Marks: {{=x['marks']}}<br/>
											Comments: {{=x['comments']}}
											{{pass}}
											{{pass}}

										</td>
									</tr>
									{{pass}}
								</tbody>
							</table>
					<!--	</div>
			</div>-->

				</div>
			</div>
		</div>	
		<!-- The javascript =============================================
		(Placed at the end of the document so the pages load faster) -->

		<script>
			 $("#search").keyup(function(){
				         _this = this;
					         // Show only matching TR, hide rest of them
						         $.each($("#myTable tbody").find("tr"), function() {
							             console.log($(this).text());
								                 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1)
										                $(this).hide();
												            else
													                     $(this).show();                
															             });
																         }); 
		</script>
		<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>

				<script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
				<!--[if lt IE 7 ]>
				<script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
				<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
				<![endif]-->

				{{if response.google_analytics_id:}}
				<script src="{{=URL('static','js/analytics.min.js')}}"></script>
				<script type="text/javascript">
					analytics.initialize({
							'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
							});</script>
						{{pass}}
						<script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>

					</body>
				</html>
