{{extend 'layout.html'}}
<div id = 'soln-upload'>
	{{=A(T('Upload Solution'), _href=URL('AssignmentPortal','default','studupload'), _class='btn')}}
</div><br/>
<div id='search-box'>
	<h4>Enter details :</h4> 
	<form method='get' action="{{=URL('AssignmentPortal','default','studentInterface')}}">
		Assignment:  <select id='assign' name='assign' value='assign-id'>
			{{for i in assignments:}}
			<option value={{=i['Assign']['id']}}>{{=i['Course']['name']}} / {{=i['Assign']['name']}}</option>
			{{pass}}
		</select><br/>
		<input type='submit' value='Submit'>
	</form>
</div>
<br/>
<div id='search-result'>
	{{if userData:}}
		<h4>Submission :</h4>
		{{for submission in userData:}}
			<div id='sub'>
				<div id='sub-image' style='float:left'>
					<img src="{{=URL('download',args=submission['Submission']['image'])}}" width=30%/>
					<p style="float:right">Marks : {{=submission['SubmitReview']['marks']}} ~ Comment : {{=submission['SubmitReview']['comments']}}</p><br/>
				</div>
			</div>
		{{pass}}
	{{else:}}
		<h4>No submission for this assignment</h4>
	{{pass}}
</div>
