{{extend 'layout.html'}}

{{=A(T("Tag Solution Images"), _href=URL('AssignmentPortal','default','solutionImageTag'), _class='btn')}}
<br/>
<br/>

<div id='search-box'>
	<h4>Check Problems assignmed to you :</h4> 
		<form method='get' action="{{=URL('AssignmentPortal','default','TAinterface')}}">
		<select name='assign' value='assign-id'>
			{{for i in assignments_of_ta:}}
			<option value={{=i}}>{{=assignments_of_ta[i][0]}} / {{=assignments_of_ta[i][1]}}</option>
			{{pass}}
		</select>
			<br/>
		<input type='submit' value='Submit'>
	</form>
</div>

{{if problems:}}
	<h3>Problems Assigned :</h3>
	{{temp = ''}}
	<ul>
	{{for problem in problems:}}
		{{if problem['Assign']['name'] != temp:}}
			</ul>
			{{temp = problem['Assign']['name']}}
			<ul>
			<h3>{{=temp}}</h3>
		{{pass}}
		<li><a href="{{=URL('AssignmentPortal','default','checking')}}?problem={{=problem['Problem']['id']}}">{{=problem['Problem']['question']}}</a></li>
		<br/><br/>
	{{pass}}
	</ul>
{{else:}}
	<h5> No problems assigned to you in this assignment! </h5>
{{pass}}
