{{extend "layout.html"}}
<html>
	<body>
<button type="button" id="savepdf" onclick="getpdf()">Export as PDF</button>
	<div id="marks">
		hqweqwfdwfiquehwqiquwdqiuehwehqdibqwduwq
	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>

function getpdf()
{
	do{}while(document.readyState != 'complete');
	var htmldata="<html><body>"+String($('#marks').html())+"</body></html>";
	var data={ "html": htmldata, "filename":"test.pdf"};
	$.ajax({
		type:'POST',
		contentType: "application/json",
		url:'html2pdf',
		data:JSON.stringify(data),
		success: function(data){window.open(
  "{{=URL('default','download_pdf')}}"+"/"+data,
  '_blank' // <- This is what makes it open in a new window.
);}
	});
}
	
</script>
</body>
</html>
